<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th><th>Reference</th></tr>
    <tr><td>oid</td>
      <td>
        <p>The ID of the entity.</p>
      </td>
      <td>
        <p>Long</p>
      </td>
      <td></td>
    </tr>
    <tr><td>name</td>
      <td>
        <p>THe entity name. This corresponds to the name that displays in the user interface.</p>
      </td>
      <td>
        <p>String</p>
      </td>
      <td></td>
    </tr>
    <tr><td>type</td>
      <td>
        <p>The entity type.</p>
      </td>
      <td>
        <p><a href="../enums/entity_type">entity_type</a></p>
      </td>
      <td>
        <p>
          <a href="../enums/entity_type.html">entity_type</a>
        </p>
      </td>
    </tr>
  </tbody></table>
</body></html>