<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th></tr>
    <tr><td>onDemandCost</td>
      <td>
        <p>For on-demand billing, the entity cost.</p>
      </td>
      <td>
        <p>Float</p>
      </td>
    </tr>
    <tr><td>onDemandRate</td>
      <td>
        <p>For on-demand billing, the rate of cost.</p>
      </td>
      <td>
        <p>Float</p>
      </td>
    </tr>
    <tr><td>riCoveragePercentage</td>
      <td>
        <p>For RIs, the percentage of RI coverage.</p>
      </td>
      <td>
        <p>Float</p>
      </td>
    </tr>
  </tbody></table>
</body></html>