<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th></tr>
    <tr><td>capacity</td>
      <td>
        <p>The available capacity of the given commodity.</p>
      </td>
      <td>
        <p>float</p>
      </td>
    </tr>
    <tr><td>percentileUtilization</td>
      <td>
        <p>For entities and resources that support it, the calculated percentile of utilization.</p>
      </td>
      <td>
        <p>Double</p>
      </td>
    </tr>
    <tr><td>used</td>
      <td>
        <p>The amount of the resource currently in use.</p>
      </td>
      <td>
        <p>float</p>
      </td>
    </tr>
    <tr><td>utilization</td>
      <td>
        <p>The percentage of capacity in use.</p>
      </td>
      <td>
        <p>float</p>
      </td>
    </tr>
  </tbody></table>
</body></html>