<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th><th>Reference</th></tr>
    <tr><td>computeTier</td>
      <td>
        <p>The compute tier, or workload family for the action. The ActionEntity object will be for an entity of type COMPUTE_TIER.</p>
      </td>
      <td>
        <p><a href="../shared/ActionEntity">ActionEntity</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/ActionEntity.html">ActionEntity</a>
        </p>
      </td>
    </tr>
    <tr><td>count</td>
      <td></td>
      <td>
        <p>Integer</p>
      </td>
      <td></td>
    </tr>
    <tr><td>masterAccount</td>
      <td>
        <p>The account that manages the RI billing.</p>
      </td>
      <td>
        <p><a href="../shared/ActionEntity">ActionEntity</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/ActionEntity.html">ActionEntity</a>
        </p>
      </td>
    </tr>
    <tr><td>region</td>
      <td>
        <p>The region that will host the RIs.</p>
      </td>
      <td>
        <p><a href="../shared/ActionEntity">ActionEntity</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/ActionEntity.html">ActionEntity</a>
        </p>
      </td>
    </tr>
    <tr><td>target</td>
      <td>
        <p>The cloud account or subscription that will manage the RIs.</p>
      </td>
      <td>
        <p><a href="../shared/ActionEntity">ActionEntity</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/ActionEntity.html">ActionEntity</a>
        </p>
      </td>
    </tr>
  </tbody></table>
</body></html>