<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th><th>Format</th></tr>
    <tr><td>filePath</td>
      <td>
        <p>The path to the file.</p>
      </td>
      <td>
        <p>String</p>
      </td>
      <td></td>
    </tr>
    <tr><td>fileSize</td>
      <td>
        <p>The size of the file.</p>
      </td>
      <td>
        <p>Double</p>
      </td>
      <td></td>
    </tr>
    <tr><td>lastModifiedTimestamp</td>
      <td>
        <p>When the file was last modified.</p>
      </td>
      <td>
        <p>String</p>
      </td>
      <td>
        <p>yyyy-MM-dd'T'HH:mm:ss'Z'</p>
      </td>
    </tr>
    <tr><td>unattachedDays</td>
      <td>
        <p>How many days the file has been unattached.</p>
      </td>
      <td>
        <p>Integer</p>
      </td>
      <td></td>
    </tr>
    <tr><td>unit</td>
      <td>
        <p>The displayed unit of measure for the file size.</p>
      </td>
      <td>
        <p>String</p>
      </td>
      <td></td>
    </tr>
  </tbody></table>
</body></html>