<html><body><h1>group.attrs</h1>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th><th>SupportedEntityTypes</th></tr>
    <tr><td>dynamic</td>
      <td></td>
      <td>
        <p>BOOLEAN</p>
      </td>
      <td>
        <p>STORAGE_CLUSTER,COMPUTE_CLUSTER,GROUP,K8S_CLUSTER,BILLING_FAMILY,RESOURCE_GROUP</p>
      </td>
    </tr>
    <tr><td>member_types</td>
      <td></td>
      <td>
        <p>MULTI_TEXT</p>
      </td>
      <td>
        <p>STORAGE_CLUSTER,COMPUTE_CLUSTER,GROUP,K8S_CLUSTER,BILLING_FAMILY,RESOURCE_GROUP</p>
      </td>
    </tr>
    <tr><td>origin</td>
      <td></td>
      <td>
        <p>TEXT</p>
      </td>
      <td>
        <p>STORAGE_CLUSTER,COMPUTE_CLUSTER,GROUP,K8S_CLUSTER,BILLING_FAMILY,RESOURCE_GROUP</p>
      </td>
    </tr>
    <tr><td>tags</td>
      <td></td>
      <td>
        <p>TEXT_MULTIMAP (Embedded Reporting) or List (Data Exporter)</p>
      </td>
      <td>
        <p>GROUP,RESOURCE_GROUP,COMPUTE_CLUSTER,K8S_CLUSTER,STORAGE_CLUSTER,BILLING_FAMILY</p>
      </td>
    </tr>
    <tr><td>targets</td>
      <td></td>
      <td>
        <p><a href="../shared/Target">Target</a></p>
      </td>
      <td>
        <p>GROUP,RESOURCE_GROUP,COMPUTE_CLUSTER,K8S_CLUSTER,STORAGE_CLUSTER,BILLING_FAMILY</p>
      </td>
      <td>
        <p>True</p>
      </td>
    </tr>
  </tbody></table>
</body></html>