<html><body>
  
  <table><tbody><tr><th>Data Object</th><th>Description</th><th>Type</th><th>Reference</th></tr>
    <tr><td>afterActions</td>
      <td>
        <p>A description of what the metric utilization will be after the action executes.</p>
      </td>
      <td>
        <p><a href="../shared/ActionCommodity">ActionCommodity</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/ActionCommodity.html">ActionCommodity</a>
        </p>
      </td>
    </tr>
    <tr><td>beforeActions</td>
      <td>
        <p>A description of the current utilization, before the action executes.</p>
      </td>
      <td>
        <p><a href="../shared/ActionCommodity">ActionCommodity</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/ActionCommodity.html">ActionCommodity</a>
        </p>
      </td>
    </tr>
  </tbody></table>
</body></html>