<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>action_type</title></head><body><h2 class="genData">action_type type</h2>
	
	<ul>
		<li>ACTIVATE
			
		</li>
		<li>ALLOCATE
			
		</li>
		<li>BUY_RI
			
		</li>
		<li>DEACTIVATE
			
		</li>
		<li>DELETE
			
		</li>
		<li>MOVE
			
		</li>
		<li>NONE
			
		</li>
		<li>PROVISION
			
		</li>
		<li>RECONFIGURE
			
		</li>
		<li>RESIZE
			
		</li>
		<li>SCALE
			
		</li>
		<li>START
			
		</li>
		<li>SUSPEND
			
		</li>
	</ul>
</body></html>