<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>completed_action</title></head><body><h2 class="genData">completed_action table</h2>
	
	<table><tbody><tr><th><p>Column Name</p></th><th><p>Type</p></th><th><p>Nullable</p></th><th><p>Primary</p></th><th><p>Description</p></th></tr>
		<tr><td><p>recommendation_time</p></td>
			<td><p>timestamp with time zone</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>The time the action was
				recommended.</p></td>
		</tr>
		<tr><td><p>acceptance_time</p></td>
			<td><p>timestamp with time zone</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>The time the action was accepted
				for execution.</p></td>
		</tr>
		<tr><td><p>completion_time</p></td>
			<td><p>timestamp with time zone</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>The time the action was completed.</p></td>
		</tr>
		<tr><td><p>action_oid</p></td>
			<td><p>bigint</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>The oid of the action in the system.</p></td>
		</tr>
		<tr><td><p>type</p></td>
			<td><p><a href="enum/action_type.html">action_type</a></p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>The type of the action.</p></td>
		</tr>
		<tr><td><p>severity</p></td>
			<td><p><a href="enum/severity.html">severity</a></p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>The severity of the action.</p>
				{% include genFiles/severity.html %}</td>
		</tr>
		<tr><td><p>category</p></td>
			<td><p><a href="enum/action_category.html">action_category</a></p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>The category of the action.</p></td>
		</tr>
		<tr><td><p>target_entity_id</p></td>
			<td><p>bigint</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>The oid of the target entity.</p></td>
		</tr>
		<tr><td><p>involved_entities</p></td>
			<td><p>bigint[]</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td><p>The oids of the involved entities
				(includes the target entity).</p></td>
		</tr>
		<tr><td><p>description</p></td>
			<td><p>text</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>The text description of the action.</p></td>
		</tr>
		<tr><td><p>savings</p></td>
			<td><p>double precision</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>Savings (or, if negative, investment) of the action.</p></td>
		</tr>
		<tr><td><p>final_state</p></td>
			<td><p><a href="enum/terminal_state.html">terminal_state</a></p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>The final state of the action.</p>
				{% include genFiles/terminal_state.html %}</td>
		</tr>
		<tr><td><p>final_message</p></td>
			<td><p>text</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>Message associated with the final
				state. Should contain an error
				message if the action failed.</p>
				</td>
		</tr>
		<tr><td><p>attrs</p></td>
			<td><p>jsonb</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td><p>Additional (often type-specific) information
				for the action.</p> <p>For example, in
					resizes this will contain the
					commodity type and from/to
					amounts.
				</p></td>
		</tr>
	</tbody></table>
</body></html>