<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>entity.attrs</title></head><body><h2 class="genData">entity.attrs json_data</h2>
	
	<table><tbody><tr><th>JSON Object</th><th>Entity_Type</th><th>Attribute_Name</th><th>Attribute_Type</th><th>Description</th></tr>
		<tr><td>ACTION_MANAGER.tags</td>
			<td>ACTION_MANAGER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>APPLICATION.tags</td>
			<td>APPLICATION</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>APPLICATION_COMPONENT.tags</td>
			<td>APPLICATION_COMPONENT</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>APPLICATION_SERVER.tags</td>
			<td>APPLICATION_SERVER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>AVAILABILITY_ZONE.tags</td>
			<td>AVAILABILITY_ZONE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>BUSINESS.tags</td>
			<td>BUSINESS</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>BUSINESS_ACCOUNT.tags</td>
			<td>BUSINESS_ACCOUNT</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>BUSINESS_ACCOUNT.vendorID</td>
			<td>BUSINESS_ACCOUNT</td>
			<td>vendorID</td>
			<td>TEXT</td>
			<td></td>
		</tr>
		<tr><td>BUSINESS_APPLICATION.tags</td>
			<td>BUSINESS_APPLICATION</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>BUSINESS_ENTITY.tags</td>
			<td>BUSINESS_ENTITY</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>BUSINESS_TRANSACTION.tags</td>
			<td>BUSINESS_TRANSACTION</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>BUSINESS_USER.tags</td>
			<td>BUSINESS_USER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>CHASSIS.tags</td>
			<td>CHASSIS</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>CLOUD_COMMITMENT.tags</td>
			<td>CLOUD_COMMITMENT</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>CLOUD_SERVICE.tags</td>
			<td>CLOUD_SERVICE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>COMPUTE_RESOURCE.tags</td>
			<td>COMPUTE_RESOURCE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>COMPUTE_TIER.tags</td>
			<td>COMPUTE_TIER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>CONTAINER.tags</td>
			<td>CONTAINER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>CONTAINER_PLATFORM_CLUSTER.tags</td>
			<td>CONTAINER_PLATFORM_CLUSTER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>CONTAINER_POD.tags</td>
			<td>CONTAINER_POD</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>CONTAINER_SPEC.tags</td>
			<td>CONTAINER_SPEC</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>DATABASE.tags</td>
			<td>DATABASE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>DATABASE_SERVER.tags</td>
			<td>DATABASE_SERVER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>DATABASE_SERVER_TIER.tags</td>
			<td>DATABASE_SERVER_TIER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>DATABASE_TIER.tags</td>
			<td>DATABASE_TIER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>DATACENTER.tags</td>
			<td>DATACENTER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>DESIRED_RESERVED_INSTANCE.tags</td>
			<td>DESIRED_RESERVED_INSTANCE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>DESKTOP_POOL.tags</td>
			<td>DESKTOP_POOL</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>DISK_ARRAY.tags</td>
			<td>DISK_ARRAY</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>DISTRIBUTED_VIRTUAL_PORTGROUP.tags</td>
			<td>DISTRIBUTED_VIRTUAL_PORTGROUP</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>DPOD.tags</td>
			<td>DPOD</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>HCI_PHYSICAL_MACHINE.tags</td>
			<td>HCI_PHYSICAL_MACHINE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>HYPERVISOR_SERVER.tags</td>
			<td>HYPERVISOR_SERVER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>INFRASTRUCTURE.tags</td>
			<td>INFRASTRUCTURE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>INTERNET.tags</td>
			<td>INTERNET</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>IO_MODULE.tags</td>
			<td>IO_MODULE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>IP.tags</td>
			<td>IP</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>LICENSING_SERVICE.tags</td>
			<td>LICENSING_SERVICE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>LOAD_BALANCER.tags</td>
			<td>LOAD_BALANCER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>LOGICAL_POOL.tags</td>
			<td>LOGICAL_POOL</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>MAC.tags</td>
			<td>MAC</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>MOVER.tags</td>
			<td>MOVER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>NAMESPACE.tags</td>
			<td>NAMESPACE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>NETWORK.tags</td>
			<td>NETWORK</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>NETWORKING_ENDPOINT.tags</td>
			<td>NETWORKING_ENDPOINT</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>OPERATOR.tags</td>
			<td>OPERATOR</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>PHYSICAL_MACHINE.cpuModel</td>
			<td>PHYSICAL_MACHINE</td>
			<td>cpuModel</td>
			<td>TEXT</td>
			<td></td>
		</tr>
		<tr><td>PHYSICAL_MACHINE.model</td>
			<td>PHYSICAL_MACHINE</td>
			<td>model</td>
			<td>TEXT</td>
			<td></td>
		</tr>
		<tr><td>PHYSICAL_MACHINE.numCpus</td>
			<td>PHYSICAL_MACHINE</td>
			<td>numCpus</td>
			<td>NUMBER</td>
			<td></td>
		</tr>
		<tr><td>PHYSICAL_MACHINE.tags</td>
			<td>PHYSICAL_MACHINE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>PHYSICAL_MACHINE.timezone</td>
			<td>PHYSICAL_MACHINE</td>
			<td>timezone</td>
			<td>TEXT</td>
			<td></td>
		</tr>
		<tr><td>PORT.tags</td>
			<td>PORT</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>PROCESSOR_POOL.tags</td>
			<td>PROCESSOR_POOL</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>REGION.tags</td>
			<td>REGION</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>RESERVED_INSTANCE.tags</td>
			<td>RESERVED_INSTANCE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>RESERVED_INSTANCE_SPECIFICATION.tags</td>
			<td>RESERVED_INSTANCE_SPECIFICATION</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>RIGHT_SIZER.tags</td>
			<td>RIGHT_SIZER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>SAVINGS.tags</td>
			<td>SAVINGS</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>SERVICE.tags</td>
			<td>SERVICE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>SERVICE_ENTITY_TEMPLATE.tags</td>
			<td>SERVICE_ENTITY_TEMPLATE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>SERVICE_PROVIDER.tags</td>
			<td>SERVICE_PROVIDER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>STORAGE.isLocal</td>
			<td>STORAGE</td>
			<td>isLocal</td>
			<td>BOOLEAN</td>
			<td></td>
		</tr>
		<tr><td>STORAGE.tags</td>
			<td>STORAGE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>STORAGE_CONTROLLER.tags</td>
			<td>STORAGE_CONTROLLER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>STORAGE_TIER.tags</td>
			<td>STORAGE_TIER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>STORAGE_VOLUME.tags</td>
			<td>STORAGE_VOLUME</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>SWITCH.tags</td>
			<td>SWITCH</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>THIS_ENTITY.tags</td>
			<td>THIS_ENTITY</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>THREE_TIER_APPLICATION.tags</td>
			<td>THREE_TIER_APPLICATION</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>UNKNOWN.tags</td>
			<td>UNKNOWN</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>VIEW_POD.tags</td>
			<td>VIEW_POD</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>VIRTUAL_APPLICATION.tags</td>
			<td>VIRTUAL_APPLICATION</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>VIRTUAL_DATACENTER.tags</td>
			<td>VIRTUAL_DATACENTER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>VIRTUAL_MACHINE.connectedNetworks</td>
			<td>VIRTUAL_MACHINE</td>
			<td>connectedNetworks</td>
			<td>MULTI_TEXT</td>
			<td></td>
		</tr>
		<tr><td>VIRTUAL_MACHINE.guestOsType</td>
			<td>VIRTUAL_MACHINE</td>
			<td>guestOsType</td>
			<td>ENUM</td>
			<td></td>
		</tr>
		<tr><td>VIRTUAL_MACHINE.numCpus</td>
			<td>VIRTUAL_MACHINE</td>
			<td>numCpus</td>
			<td>NUMBER</td>
			<td></td>
		</tr>
		<tr><td>VIRTUAL_MACHINE.tags</td>
			<td>VIRTUAL_MACHINE</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>VIRTUAL_VOLUME.attachmentState</td>
			<td>VIRTUAL_VOLUME</td>
			<td>attachmentState</td>
			<td>ENUM</td>
			<td></td>
		</tr>
		<tr><td>VIRTUAL_VOLUME.tags</td>
			<td>VIRTUAL_VOLUME</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>VIRTUAL_VOLUME.volumeId</td>
			<td>VIRTUAL_VOLUME</td>
			<td>volumeId</td>
			<td>TEXT</td>
			<td></td>
		</tr>
		<tr><td>VLAN.tags</td>
			<td>VLAN</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>VM_SPEC.tags</td>
			<td>VM_SPEC</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>VPOD.tags</td>
			<td>VPOD</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>WEB_SERVER.tags</td>
			<td>WEB_SERVER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
		<tr><td>WORKLOAD_CONTROLLER.tags</td>
			<td>WORKLOAD_CONTROLLER</td>
			<td>tags</td>
			<td>TEXT_MULTIMAP</td>
			<td></td>
		</tr>
	</tbody></table>
</body></html>