<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>metric_type</title></head><body><h2 class="genData">metric_type type</h2>
	MetricType is a really cool type. Some of its really cool features are:
- #1
- #2
	<ul>
		<li>ACTIVE_SESSIONS
			Active Sessions Notes
		</li>
		<li>BALLOONING
			Ballooning Notes
		</li>
		<li>BUFFER_COMMODITY
			
		</li>
		<li>CONNECTION
			
		</li>
		<li>COOLING
			
		</li>
		<li>CPU
			Here are **some notes** on the `CPU` value.
		</li>
		<li>CPU_ALLOCATION
			
		</li>
		<li>CPU_HEADROOM
			
		</li>
		<li>CPU_PROVISIONED
			
		</li>
		<li>CPU_READY
			
		</li>
		<li>DB_CACHE_HIT_RATE
			
		</li>
		<li>DB_MEM
			
		</li>
		<li>DTU
			
		</li>
		<li>EXTENT
			
		</li>
		<li>FLOW
			
		</li>
		<li>FLOW_ALLOCATION
			
		</li>
		<li>HEAP
			
		</li>
		<li>IMAGE_CPU
			
		</li>
		<li>IMAGE_MEM
			
		</li>
		<li>IMAGE_STORAGE
			
		</li>
		<li>IO_THROUGHPUT
			
		</li>
		<li>MEM
			
		</li>
		<li>MEM_ALLOCATION
			
		</li>
		<li>MEM_HEADROOM
			
		</li>
		<li>MEM_PROVISIONED
			
		</li>
		<li>NET_THROUGHPUT
			
		</li>
		<li>POOL_CPU
			
		</li>
		<li>POOL_MEM
			
		</li>
		<li>POOL_STORAGE
			
		</li>
		<li>PORT_CHANEL
			
		</li>
		<li>POWER
			
		</li>
		<li>Q16_VCPU
			
		</li>
		<li>Q1_VCPU
			
		</li>
		<li>Q2_VCPU
			
		</li>
		<li>Q32_VCPU
			
		</li>
		<li>Q3_VCPU
			
		</li>
		<li>Q4_VCPU
			
		</li>
		<li>Q5_VCPU
			
		</li>
		<li>Q64_VCPU
			
		</li>
		<li>Q6_VCPU
			
		</li>
		<li>Q7_VCPU
			
		</li>
		<li>Q8_VCPU
			
		</li>
		<li>QN_VCPU
			
		</li>
		<li>REMAINING_GC_CAPACITY
			
		</li>
		<li>RESPONSE_TIME
			
		</li>
		<li>SLA_COMMODITY
			
		</li>
		<li>STORAGE_ACCESS
			
		</li>
		<li>STORAGE_ALLOCATION
			
		</li>
		<li>STORAGE_AMOUNT
			
		</li>
		<li>STORAGE_HEADROOM
			
		</li>
		<li>STORAGE_LATENCY
			
		</li>
		<li>STORAGE_PROVISIONED
			
		</li>
		<li>SWAPPING
			
		</li>
		<li>THREADS
			
		</li>
		<li>TOTAL_HEADROOM
			
		</li>
		<li>TOTAL_SESSIONS
			
		</li>
		<li>TRANSACTION
			
		</li>
		<li>TRANSACTION_LOG
			
		</li>
		<li>VCPU
			
		</li>
		<li>VCPU_LIMIT_QUOTA
			
		</li>
		<li>VCPU_REQUEST
			
		</li>
		<li>VCPU_REQUEST_QUOTA
			
		</li>
		<li>VMEM
			
		</li>
		<li>VMEM_LIMIT_QUOTA
			
		</li>
		<li>VMEM_REQUEST
			
		</li>
		<li>VMEM_REQUEST_QUOTA
			
		</li>
		<li>VSTORAGE
			
		</li>
	</ul>
</body></html>