<html><body>
  
  <table><tbody><tr><th>JSON Object</th><th>Description</th><th>Type</th><th>MapKeyType</th><th>Reference</th></tr>
    <tr><td>buyRiInfo</td>
      <td>
        <p>For an action to buy RIs, additional information about the RIs.</p>
      </td>
      <td>
        <p><a href="../shared/BuyRiInfo">BuyRiInfo</a></p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../shared/BuyRiInfo.html">BuyRiInfo</a>
        </p>
      </td>
    </tr>
    <tr><td>deleteInfo</td>
      <td>
        <p>For an action to delete a file, a description of that file.</p>
      </td>
      <td>
        <p><a href="../shared/DeleteInfo">DeleteInfo</a></p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../shared/DeleteInfo.html">DeleteInfo</a>
        </p>
      </td>
    </tr>
    <tr><td>moveInfo</td>
      <td>
        <p>For a move action, a description of from and to for the move.</p>
      </td>
      <td>
        <p><a href="../shared/MoveChange">MoveChange</a></p>
      </td>
      <td>
        <p><a href="../enums/entity_type">entity_type</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/MoveChange.html">MoveChange</a>
        </p>
      </td>
    </tr>
    <tr><td>resizeInfo</td>
      <td>
        <p>For a resize action, a description of the commodity changes.</p>
      </td>
      <td>
        <p><a href="../shared/CommodityChange">CommodityChange</a></p>
      </td>
      <td>
        <p><a href="../enums/metric_type">metric_type</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/CommodityChange.html">CommodityChange</a>
        </p>
      </td>
    </tr>
    <tr><td>scaleInfo</td>
      <td>
        <p>For scaling a cloud VM, a description of the from and to for the VM move.</p>
      </td>
      <td>
        <p><a href="../shared/MoveChange">MoveChange</a></p>
      </td>
      <td>
        <p><a href="../enums/entity_type">entity_type</a></p>
      </td>
      <td>
        <p>
          <a href="../shared/MoveChange.html">MoveChange</a>
        </p>
      </td>
    </tr>
    <tr><td>target</td>
      <td>
        <p>Extra information about the entity this action impacts.</p>
      </td>
      <td>
        <p><a href="../shared/ActionImpactedEntity">ActionImpactedEntity</a></p>
      </td>
      <td></td>
      <td>
        <p>
          <a href="../shared/ActionImpactedEntity.html">ActionImpactedEntity</a>
        </p>
      </td>
    </tr>
  </tbody></table>
</body></html>