<html><body><h1>action.attrs</h1>
  
  <table><tbody><tr><th>JSON Object</th><th>Description</th><th>Type</th></tr>
    <tr><td>buyRiInfo</td>
      <td></td>
      <td>
        <p><a href="../shared/BuyRiInfo">BuyRiInfo</a></p>
      </td>
    </tr>
    <tr><td>deleteInfo</td>
      <td></td>
      <td>
        <p><a href="../shared/DeleteInfo">DeleteInfo</a></p>
      </td>
    </tr>
    <tr><td>moveInfo</td>
      <td></td>
      <td>
        <p><a href="../shared/MoveChange">MoveChange</a></p>
      </td>
      <td>
        <p><a href="../enums/entity_type">entity_type</a></p>
      </td>
    </tr>
    <tr><td>resizeInfo</td>
      <td></td>
      <td>
        <p><a href="../shared/CommodityChange">CommodityChange</a></p>
      </td>
      <td>
        <p><a href="../enums/metric_type">metric_type</a></p>
      </td>
    </tr>
    <tr><td>scaleInfo</td>
      <td></td>
      <td>
        <p><a href="../shared/MoveChange">MoveChange</a></p>
      </td>
      <td>
        <p><a href="../enums/entity_type">entity_type</a></p>
      </td>
    </tr>
    <tr><td>target</td>
      <td></td>
      <td>
        <p><a href="../shared/ActionImpactedEntity">ActionImpactedEntity</a></p>
      </td>
    </tr>
  </tbody></table>
</body></html>