<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>action_type</title></head><body><h2>action_type type</h2>
	<p></p>
	<ul>
		<li><p>ACTIVATE</p>
			<p>Notes</p>
		</li>
		<li><p>ALLOCATE</p>
			<p>Notes</p>
		</li>
		<li><p>BUY_RI</p>
			<p>Notes</p>
		</li>
		<li><p>DEACTIVATE</p>
			<p>Notes</p>
		</li>
		<li><p>DELETE</p>
			<p>Notes</p>
		</li>
		<li><p>MOVE</p>
			<p>Notes</p>
		</li>
		<li><p>NONE</p>
			<p>Notes</p>
		</li>
		<li><p>PROVISION</p>
			<p>Notes</p>
		</li>
		<li><p>RECONFIGURE</p>
			<p>Notes</p>
		</li>
		<li><p>RESIZE</p>
			<p>Notes</p>
		</li>
		<li><p>SCALE</p>
			<p>Notes</p>
		</li>
		<li><p>START</p>
			<p>Notes</p>
		</li>
		<li><p>SUSPEND</p>
			<p>Notes</p>
		</li>
	</ul>
</body></html>