<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>action_state</title></head><body><h2>action_state type</h2>
	<p></p>
	<ul>
		<li><p>ACCEPTED</p>
			<p>Notes</p>
		</li>
		<li><p>CLEARED</p>
			<p>Notes</p>
		</li>
		<li><p>FAILED</p>
			<p>Notes</p>
		</li>
		<li><p>FAILING</p>
			<p>Notes</p>
		</li>
		<li><p>IN_PROGRESS</p>
			<p>Notes</p>
		</li>
		<li><p>POST_IN_PROGRESS</p>
			<p>Notes</p>
		</li>
		<li><p>PRE_IN_PROGRESS</p>
			<p>Notes</p>
		</li>
		<li><p>QUEUED</p>
			<p>Notes</p>
		</li>
		<li><p>READY</p>
			<p>Notes</p>
		</li>
		<li><p>REJECTED</p>
			<p>Notes</p>
		</li>
		<li><p>SUCCEEDED</p>
			<p>Notes</p>
		</li>
	</ul>
</body></html>