<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>entity_type</title></head><body><h2 class="genData">entity_type type</h2>
	
	<ul>
		<li>ACTION_MANAGER
			
		</li>
		<li>APPLICATION
			
		</li>
		<li>APPLICATION_COMPONENT
			
		</li>
		<li>APPLICATION_SERVER
			
		</li>
		<li>AVAILABILITY_ZONE
			
		</li>
		<li>BILLING_FAMILY
			
		</li>
		<li>BUSINESS
			
		</li>
		<li>BUSINESS_ACCOUNT
			
		</li>
		<li>BUSINESS_APPLICATION
			
		</li>
		<li>BUSINESS_ENTITY
			
		</li>
		<li>BUSINESS_TRANSACTION
			
		</li>
		<li>BUSINESS_USER
			
		</li>
		<li>CHASSIS
			
		</li>
		<li>CLOUD_COMMITMENT
			
		</li>
		<li>CLOUD_SERVICE
			
		</li>
		<li>COMPUTE_CLUSTER
			
		</li>
		<li>COMPUTE_RESOURCE
			
		</li>
		<li>COMPUTE_TIER
			
		</li>
		<li>CONTAINER
			
		</li>
		<li>CONTAINER_PLATFORM_CLUSTER
			
		</li>
		<li>CONTAINER_POD
			
		</li>
		<li>CONTAINER_SPEC
			
		</li>
		<li>DATABASE
			
		</li>
		<li>DATABASE_SERVER
			
		</li>
		<li>DATABASE_SERVER_TIER
			
		</li>
		<li>DATABASE_TIER
			
		</li>
		<li>DATACENTER
			
		</li>
		<li>DESIRED_RESERVED_INSTANCE
			
		</li>
		<li>DESKTOP_POOL
			
		</li>
		<li>DISK_ARRAY
			
		</li>
		<li>DISTRIBUTED_VIRTUAL_PORTGROUP
			
		</li>
		<li>DPOD
			
		</li>
		<li>GROUP
			
		</li>
		<li>HCI_PHYSICAL_MACHINE
			
		</li>
		<li>HYPERVISOR_SERVER
			
		</li>
		<li>INFRASTRUCTURE
			
		</li>
		<li>INTERNET
			
		</li>
		<li>IO_MODULE
			
		</li>
		<li>IP
			
		</li>
		<li>K8S_CLUSTER
			
		</li>
		<li>LICENSING_SERVICE
			
		</li>
		<li>LOAD_BALANCER
			
		</li>
		<li>LOGICAL_POOL
			
		</li>
		<li>MAC
			
		</li>
		<li>MOVER
			
		</li>
		<li>NAMESPACE
			
		</li>
		<li>NETWORK
			
		</li>
		<li>NETWORKING_ENDPOINT
			
		</li>
		<li>OPERATOR
			
		</li>
		<li>PHYSICAL_MACHINE
			
		</li>
		<li>PORT
			
		</li>
		<li>PROCESSOR_POOL
			
		</li>
		<li>REGION
			
		</li>
		<li>RESERVED_INSTANCE
			
		</li>
		<li>RESERVED_INSTANCE_SPECIFICATION
			
		</li>
		<li>RESOURCE_GROUP
			
		</li>
		<li>RIGHT_SIZER
			
		</li>
		<li>SAVINGS
			
		</li>
		<li>SERVICE
			
		</li>
		<li>SERVICE_ENTITY_TEMPLATE
			
		</li>
		<li>SERVICE_PROVIDER
			
		</li>
		<li>STORAGE
			
		</li>
		<li>STORAGE_CLUSTER
			
		</li>
		<li>STORAGE_CONTROLLER
			
		</li>
		<li>STORAGE_TIER
			
		</li>
		<li>STORAGE_VOLUME
			
		</li>
		<li>SWITCH
			
		</li>
		<li>THIS_ENTITY
			
		</li>
		<li>THREE_TIER_APPLICATION
			
		</li>
		<li>VIEW_POD
			
		</li>
		<li>VIRTUAL_APPLICATION
			
		</li>
		<li>VIRTUAL_DATACENTER
			
		</li>
		<li>VIRTUAL_MACHINE
			
		</li>
		<li>VIRTUAL_VOLUME
			
		</li>
		<li>VLAN
			
		</li>
		<li>VM_SPEC
			
		</li>
		<li>VPOD
			
		</li>
		<li>WEB_SERVER
			
		</li>
		<li>WORKLOAD_CONTROLLER
			
		</li>
		<li>_NONE_
			
		</li>
	</ul>
</body></html>