<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>entity_type</title></head><body><h2>entity_type type</h2>
	<p></p>
	<ul>
		<li><p>ACTION_MANAGER</p>
			<p>Notes</p>
		</li>
		<li><p>APPLICATION</p>
			<p>Notes</p>
		</li>
		<li><p>APPLICATION_COMPONENT</p>
			<p>Notes</p>
		</li>
		<li><p>APPLICATION_SERVER</p>
			<p>Notes</p>
		</li>
		<li><p>AVAILABILITY_ZONE</p>
			<p>Notes</p>
		</li>
		<li><p>BILLING_FAMILY</p>
			<p>Notes</p>
		</li>
		<li><p>BUSINESS</p>
			<p>Notes</p>
		</li>
		<li><p>BUSINESS_ACCOUNT</p>
			<p>Notes</p>
		</li>
		<li><p>BUSINESS_APPLICATION</p>
			<p>Notes</p>
		</li>
		<li><p>BUSINESS_ENTITY</p>
			<p>Notes</p>
		</li>
		<li><p>BUSINESS_TRANSACTION</p>
			<p>Notes</p>
		</li>
		<li><p>BUSINESS_USER</p>
			<p>Notes</p>
		</li>
		<li><p>CHASSIS</p>
			<p>Notes</p>
		</li>
		<li><p>CLOUD_COMMITMENT</p>
			<p>Notes</p>
		</li>
		<li><p>CLOUD_SERVICE</p>
			<p>Notes</p>
		</li>
		<li><p>COMPUTE_CLUSTER</p>
			<p>Notes</p>
		</li>
		<li><p>COMPUTE_RESOURCE</p>
			<p>Notes</p>
		</li>
		<li><p>COMPUTE_TIER</p>
			<p>Notes</p>
		</li>
		<li><p>CONTAINER</p>
			<p>Notes</p>
		</li>
		<li><p>CONTAINER_PLATFORM_CLUSTER</p>
			<p>Notes</p>
		</li>
		<li><p>CONTAINER_POD</p>
			<p>Notes</p>
		</li>
		<li><p>CONTAINER_SPEC</p>
			<p>Notes</p>
		</li>
		<li><p>DATABASE</p>
			<p>Notes</p>
		</li>
		<li><p>DATABASE_SERVER</p>
			<p>Notes</p>
		</li>
		<li><p>DATABASE_SERVER_TIER</p>
			<p>Notes</p>
		</li>
		<li><p>DATABASE_TIER</p>
			<p>Notes</p>
		</li>
		<li><p>DATACENTER</p>
			<p>Notes</p>
		</li>
		<li><p>DESIRED_RESERVED_INSTANCE</p>
			<p>Notes</p>
		</li>
		<li><p>DESKTOP_POOL</p>
			<p>Notes</p>
		</li>
		<li><p>DISK_ARRAY</p>
			<p>Notes</p>
		</li>
		<li><p>DISTRIBUTED_VIRTUAL_PORTGROUP</p>
			<p>Notes</p>
		</li>
		<li><p>DPOD</p>
			<p>Notes</p>
		</li>
		<li><p>GROUP</p>
			<p>Notes</p>
		</li>
		<li><p>HCI_PHYSICAL_MACHINE</p>
			<p>Notes</p>
		</li>
		<li><p>HYPERVISOR_SERVER</p>
			<p>Notes</p>
		</li>
		<li><p>INFRASTRUCTURE</p>
			<p>Notes</p>
		</li>
		<li><p>INTERNET</p>
			<p>Notes</p>
		</li>
		<li><p>IO_MODULE</p>
			<p>Notes</p>
		</li>
		<li><p>IP</p>
			<p>Notes</p>
		</li>
		<li><p>K8S_CLUSTER</p>
			<p>Notes</p>
		</li>
		<li><p>LICENSING_SERVICE</p>
			<p>Notes</p>
		</li>
		<li><p>LOAD_BALANCER</p>
			<p>Notes</p>
		</li>
		<li><p>LOGICAL_POOL</p>
			<p>Notes</p>
		</li>
		<li><p>MAC</p>
			<p>Notes</p>
		</li>
		<li><p>MOVER</p>
			<p>Notes</p>
		</li>
		<li><p>NAMESPACE</p>
			<p>Notes</p>
		</li>
		<li><p>NETWORK</p>
			<p>Notes</p>
		</li>
		<li><p>NETWORKING_ENDPOINT</p>
			<p>Notes</p>
		</li>
		<li><p>OPERATOR</p>
			<p>Notes</p>
		</li>
		<li><p>PHYSICAL_MACHINE</p>
			<p>Notes</p>
		</li>
		<li><p>PORT</p>
			<p>Notes</p>
		</li>
		<li><p>PROCESSOR_POOL</p>
			<p>Notes</p>
		</li>
		<li><p>REGION</p>
			<p>Notes</p>
		</li>
		<li><p>RESERVED_INSTANCE</p>
			<p>Notes</p>
		</li>
		<li><p>RESERVED_INSTANCE_SPECIFICATION</p>
			<p>Notes</p>
		</li>
		<li><p>RESOURCE_GROUP</p>
			<p>Notes</p>
		</li>
		<li><p>RIGHT_SIZER</p>
			<p>Notes</p>
		</li>
		<li><p>SAVINGS</p>
			<p>Notes</p>
		</li>
		<li><p>SERVICE</p>
			<p>Notes</p>
		</li>
		<li><p>SERVICE_ENTITY_TEMPLATE</p>
			<p>Notes</p>
		</li>
		<li><p>SERVICE_PROVIDER</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE_CLUSTER</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE_CONTROLLER</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE_TIER</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE_VOLUME</p>
			<p>Notes</p>
		</li>
		<li><p>SWITCH</p>
			<p>Notes</p>
		</li>
		<li><p>THIS_ENTITY</p>
			<p>Notes</p>
		</li>
		<li><p>THREE_TIER_APPLICATION</p>
			<p>Notes</p>
		</li>
		<li><p>VIEW_POD</p>
			<p>Notes</p>
		</li>
		<li><p>VIRTUAL_APPLICATION</p>
			<p>Notes</p>
		</li>
		<li><p>VIRTUAL_DATACENTER</p>
			<p>Notes</p>
		</li>
		<li><p>VIRTUAL_MACHINE</p>
			<p>Notes</p>
		</li>
		<li><p>VIRTUAL_VOLUME</p>
			<p>Notes</p>
		</li>
		<li><p>VLAN</p>
			<p>Notes</p>
		</li>
		<li><p>VM_SPEC</p>
			<p>Notes</p>
		</li>
		<li><p>VPOD</p>
			<p>Notes</p>
		</li>
		<li><p>WEB_SERVER</p>
			<p>Notes</p>
		</li>
		<li><p>WORKLOAD_CONTROLLER</p>
			<p>Notes</p>
		</li>
		<li><p>_NONE_</p>
			<p>Notes</p>
		</li>
	</ul>
</body></html>