<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>entity_old</title></head><body><h2 class="genData">entity_old table</h2>
	
	<table><tbody><tr><th><p>Column Name</p></th><th><p>Type</p></th><th><p>Nullable</p></th><th><p>Primary</p></th><th><p>Description</p></th></tr>
		<tr><td><p>oid</p></td>
			<td><p>bigint</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>hash</p></td>
			<td><p>bigint</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>type</p></td>
			<td><p>entity_type</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>name</p></td>
			<td><p>text</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>environment</p></td>
			<td><p>environment_type</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>state</p></td>
			<td><p>entity_state</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>attrs</p></td>
			<td><p>jsonb</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>scope</p></td>
			<td><p>bigint[]</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>first_seen</p></td>
			<td><p>timestamp with time zone</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>last_seen</p></td>
			<td><p>timestamp with time zone</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
	</tbody></table>
</body></html>