<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>entity.attrs</title></head><body><h2>entity.attrs json_data</h2>
	<p></p>
	<table><tbody><tr><th><p>JSON Object</p></th><th><p>Entity_Type</p></th><th><p>Attribute_Name</p></th><th><p>Attribute_Type</p></th><th><p>Description</p></th></tr>
		<tr><td><p>ACTION_MANAGER.tags</p></td>
			<td><p>ACTION_MANAGER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>APPLICATION.tags</p></td>
			<td><p>APPLICATION</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>APPLICATION_COMPONENT.tags</p></td>
			<td><p>APPLICATION_COMPONENT</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>APPLICATION_SERVER.tags</p></td>
			<td><p>APPLICATION_SERVER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>AVAILABILITY_ZONE.tags</p></td>
			<td><p>AVAILABILITY_ZONE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>BUSINESS.tags</p></td>
			<td><p>BUSINESS</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>BUSINESS_ACCOUNT.tags</p></td>
			<td><p>BUSINESS_ACCOUNT</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>BUSINESS_ACCOUNT.vendorID</p></td>
			<td><p>BUSINESS_ACCOUNT</p></td>
			<td><p>vendorID</p></td>
			<td><p>TEXT</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>BUSINESS_APPLICATION.tags</p></td>
			<td><p>BUSINESS_APPLICATION</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>BUSINESS_ENTITY.tags</p></td>
			<td><p>BUSINESS_ENTITY</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>BUSINESS_TRANSACTION.tags</p></td>
			<td><p>BUSINESS_TRANSACTION</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>BUSINESS_USER.tags</p></td>
			<td><p>BUSINESS_USER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>CHASSIS.tags</p></td>
			<td><p>CHASSIS</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>CLOUD_COMMITMENT.tags</p></td>
			<td><p>CLOUD_COMMITMENT</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>CLOUD_SERVICE.tags</p></td>
			<td><p>CLOUD_SERVICE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>COMPUTE_RESOURCE.tags</p></td>
			<td><p>COMPUTE_RESOURCE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>COMPUTE_TIER.tags</p></td>
			<td><p>COMPUTE_TIER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>CONTAINER.tags</p></td>
			<td><p>CONTAINER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>CONTAINER_PLATFORM_CLUSTER.tags</p></td>
			<td><p>CONTAINER_PLATFORM_CLUSTER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>CONTAINER_POD.tags</p></td>
			<td><p>CONTAINER_POD</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>CONTAINER_SPEC.tags</p></td>
			<td><p>CONTAINER_SPEC</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>DATABASE.tags</p></td>
			<td><p>DATABASE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>DATABASE_SERVER.tags</p></td>
			<td><p>DATABASE_SERVER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>DATABASE_SERVER_TIER.tags</p></td>
			<td><p>DATABASE_SERVER_TIER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>DATABASE_TIER.tags</p></td>
			<td><p>DATABASE_TIER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>DATACENTER.tags</p></td>
			<td><p>DATACENTER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>DESIRED_RESERVED_INSTANCE.tags</p></td>
			<td><p>DESIRED_RESERVED_INSTANCE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>DESKTOP_POOL.tags</p></td>
			<td><p>DESKTOP_POOL</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>DISK_ARRAY.tags</p></td>
			<td><p>DISK_ARRAY</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>DISTRIBUTED_VIRTUAL_PORTGROUP.tags</p></td>
			<td><p>DISTRIBUTED_VIRTUAL_PORTGROUP</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>DPOD.tags</p></td>
			<td><p>DPOD</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>HCI_PHYSICAL_MACHINE.tags</p></td>
			<td><p>HCI_PHYSICAL_MACHINE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>HYPERVISOR_SERVER.tags</p></td>
			<td><p>HYPERVISOR_SERVER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>INFRASTRUCTURE.tags</p></td>
			<td><p>INFRASTRUCTURE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>INTERNET.tags</p></td>
			<td><p>INTERNET</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>IO_MODULE.tags</p></td>
			<td><p>IO_MODULE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>IP.tags</p></td>
			<td><p>IP</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>LICENSING_SERVICE.tags</p></td>
			<td><p>LICENSING_SERVICE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>LOAD_BALANCER.tags</p></td>
			<td><p>LOAD_BALANCER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>LOGICAL_POOL.tags</p></td>
			<td><p>LOGICAL_POOL</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>MAC.tags</p></td>
			<td><p>MAC</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>MOVER.tags</p></td>
			<td><p>MOVER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>NAMESPACE.tags</p></td>
			<td><p>NAMESPACE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>NETWORK.tags</p></td>
			<td><p>NETWORK</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>NETWORKING_ENDPOINT.tags</p></td>
			<td><p>NETWORKING_ENDPOINT</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>OPERATOR.tags</p></td>
			<td><p>OPERATOR</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>PHYSICAL_MACHINE.cpuModel</p></td>
			<td><p>PHYSICAL_MACHINE</p></td>
			<td><p>cpuModel</p></td>
			<td><p>TEXT</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>PHYSICAL_MACHINE.model</p></td>
			<td><p>PHYSICAL_MACHINE</p></td>
			<td><p>model</p></td>
			<td><p>TEXT</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>PHYSICAL_MACHINE.numCpus</p></td>
			<td><p>PHYSICAL_MACHINE</p></td>
			<td><p>numCpus</p></td>
			<td><p>NUMBER</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>PHYSICAL_MACHINE.tags</p></td>
			<td><p>PHYSICAL_MACHINE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>PHYSICAL_MACHINE.timezone</p></td>
			<td><p>PHYSICAL_MACHINE</p></td>
			<td><p>timezone</p></td>
			<td><p>TEXT</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>PORT.tags</p></td>
			<td><p>PORT</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>PROCESSOR_POOL.tags</p></td>
			<td><p>PROCESSOR_POOL</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>REGION.tags</p></td>
			<td><p>REGION</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>RESERVED_INSTANCE.tags</p></td>
			<td><p>RESERVED_INSTANCE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>RESERVED_INSTANCE_SPECIFICATION.tags</p></td>
			<td><p>RESERVED_INSTANCE_SPECIFICATION</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>RIGHT_SIZER.tags</p></td>
			<td><p>RIGHT_SIZER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>SAVINGS.tags</p></td>
			<td><p>SAVINGS</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>SERVICE.tags</p></td>
			<td><p>SERVICE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>SERVICE_ENTITY_TEMPLATE.tags</p></td>
			<td><p>SERVICE_ENTITY_TEMPLATE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>SERVICE_PROVIDER.tags</p></td>
			<td><p>SERVICE_PROVIDER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>STORAGE.isLocal</p></td>
			<td><p>STORAGE</p></td>
			<td><p>isLocal</p></td>
			<td><p>BOOLEAN</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>STORAGE.tags</p></td>
			<td><p>STORAGE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>STORAGE_CONTROLLER.tags</p></td>
			<td><p>STORAGE_CONTROLLER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>STORAGE_TIER.tags</p></td>
			<td><p>STORAGE_TIER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>STORAGE_VOLUME.tags</p></td>
			<td><p>STORAGE_VOLUME</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>SWITCH.tags</p></td>
			<td><p>SWITCH</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>THIS_ENTITY.tags</p></td>
			<td><p>THIS_ENTITY</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>THREE_TIER_APPLICATION.tags</p></td>
			<td><p>THREE_TIER_APPLICATION</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>UNKNOWN.tags</p></td>
			<td><p>UNKNOWN</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VIEW_POD.tags</p></td>
			<td><p>VIEW_POD</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VIRTUAL_APPLICATION.tags</p></td>
			<td><p>VIRTUAL_APPLICATION</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VIRTUAL_DATACENTER.tags</p></td>
			<td><p>VIRTUAL_DATACENTER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VIRTUAL_MACHINE.connectedNetworks</p></td>
			<td><p>VIRTUAL_MACHINE</p></td>
			<td><p>connectedNetworks</p></td>
			<td><p>MULTI_TEXT</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VIRTUAL_MACHINE.guestOsType</p></td>
			<td><p>VIRTUAL_MACHINE</p></td>
			<td><p>guestOsType</p></td>
			<td><p>ENUM</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VIRTUAL_MACHINE.numCpus</p></td>
			<td><p>VIRTUAL_MACHINE</p></td>
			<td><p>numCpus</p></td>
			<td><p>NUMBER</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VIRTUAL_MACHINE.tags</p></td>
			<td><p>VIRTUAL_MACHINE</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VIRTUAL_VOLUME.attachmentState</p></td>
			<td><p>VIRTUAL_VOLUME</p></td>
			<td><p>attachmentState</p></td>
			<td><p>ENUM</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VIRTUAL_VOLUME.tags</p></td>
			<td><p>VIRTUAL_VOLUME</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VIRTUAL_VOLUME.volumeId</p></td>
			<td><p>VIRTUAL_VOLUME</p></td>
			<td><p>volumeId</p></td>
			<td><p>TEXT</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VLAN.tags</p></td>
			<td><p>VLAN</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VM_SPEC.tags</p></td>
			<td><p>VM_SPEC</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>VPOD.tags</p></td>
			<td><p>VPOD</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>WEB_SERVER.tags</p></td>
			<td><p>WEB_SERVER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
		<tr><td><p>WORKLOAD_CONTROLLER.tags</p></td>
			<td><p>WORKLOAD_CONTROLLER</p></td>
			<td><p>tags</p></td>
			<td><p>TEXT_MULTIMAP</p></td>
			<td><p></p></td>
		</tr>
	</tbody></table>
</body></html>