<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>historical_entity_attrs</title></head><body><h2 class="genData">historical_entity_attrs table</h2>
	
	<table><tbody><tr><th><p>Column Name</p></th><th><p>Type</p></th><th><p>Nullable</p></th><th><p>Primary</p></th><th><p>Description</p></th></tr>
		<tr><td><p>time</p></td>
			<td><p>timestamp with time zone</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>entity_oid</p></td>
			<td><p>bigint</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>type</p></td>
			<td><p>attr_type</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>bool_value</p></td>
			<td><p>boolean</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>int_value</p></td>
			<td><p>int</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>long_value</p></td>
			<td><p>bigint</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>double_value</p></td>
			<td><p>double precision</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>string_value</p></td>
			<td><p>text</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>int_arr_value</p></td>
			<td><p>int[]</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>long_arr_value</p></td>
			<td><p>bigint[]</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>string_arr_value</p></td>
			<td><p>text[]</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>double_arr_value</p></td>
			<td><p>float8[]</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>json_value</p></td>
			<td><p>jsonb</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
	</tbody></table>
</body></html>