<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>metric_type</title></head><body><h2>metric_type type</h2>
	<p>MetricType is a really cool type. Some of its really cool features are:
- #1
- #2</p>
	<ul>
		<li><p>ACTIVE_SESSIONS</p>
			<p>Notes</p>
		</li>
		<li><p>BALLOONING</p>
			<p>Notes</p>
		</li>
		<li><p>BUFFER_COMMODITY</p>
			<p>Notes</p>
		</li>
		<li><p>CONNECTION</p>
			<p>Notes</p>
		</li>
		<li><p>COOLING</p>
			<p>Notes</p>
		</li>
		<li><p>CPU</p>
			<p>Notes</p>
		</li>
		<li><p>CPU_ALLOCATION</p>
			<p>Notes</p>
		</li>
		<li><p>CPU_HEADROOM</p>
			<p>Notes</p>
		</li>
		<li><p>CPU_PROVISIONED</p>
			<p>Notes</p>
		</li>
		<li><p>CPU_READY</p>
			<p>Notes</p>
		</li>
		<li><p>DB_CACHE_HIT_RATE</p>
			<p>Notes</p>
		</li>
		<li><p>DB_MEM</p>
			<p>Notes</p>
		</li>
		<li><p>DTU</p>
			<p>Notes</p>
		</li>
		<li><p>EXTENT</p>
			<p>Notes</p>
		</li>
		<li><p>FLOW</p>
			<p>Notes</p>
		</li>
		<li><p>FLOW_ALLOCATION</p>
			<p>Notes</p>
		</li>
		<li><p>HEAP</p>
			<p>Notes</p>
		</li>
		<li><p>IMAGE_CPU</p>
			<p>Notes</p>
		</li>
		<li><p>IMAGE_MEM</p>
			<p>Notes</p>
		</li>
		<li><p>IMAGE_STORAGE</p>
			<p>Notes</p>
		</li>
		<li><p>IO_THROUGHPUT</p>
			<p>Notes</p>
		</li>
		<li><p>MEM</p>
			<p>Notes</p>
		</li>
		<li><p>MEM_ALLOCATION</p>
			<p>Notes</p>
		</li>
		<li><p>MEM_HEADROOM</p>
			<p>Notes</p>
		</li>
		<li><p>MEM_PROVISIONED</p>
			<p>Notes</p>
		</li>
		<li><p>NET_THROUGHPUT</p>
			<p>Notes</p>
		</li>
		<li><p>POOL_CPU</p>
			<p>Notes</p>
		</li>
		<li><p>POOL_MEM</p>
			<p>Notes</p>
		</li>
		<li><p>POOL_STORAGE</p>
			<p>Notes</p>
		</li>
		<li><p>PORT_CHANEL</p>
			<p>Notes</p>
		</li>
		<li><p>POWER</p>
			<p>Notes</p>
		</li>
		<li><p>Q16_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>Q1_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>Q2_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>Q32_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>Q3_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>Q4_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>Q5_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>Q64_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>Q6_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>Q7_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>Q8_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>QN_VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>REMAINING_GC_CAPACITY</p>
			<p>Notes</p>
		</li>
		<li><p>RESPONSE_TIME</p>
			<p>Notes</p>
		</li>
		<li><p>SLA_COMMODITY</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE_ACCESS</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE_ALLOCATION</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE_AMOUNT</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE_HEADROOM</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE_LATENCY</p>
			<p>Notes</p>
		</li>
		<li><p>STORAGE_PROVISIONED</p>
			<p>Notes</p>
		</li>
		<li><p>SWAPPING</p>
			<p>Notes</p>
		</li>
		<li><p>THREADS</p>
			<p>Notes</p>
		</li>
		<li><p>TOTAL_HEADROOM</p>
			<p>Notes</p>
		</li>
		<li><p>TOTAL_SESSIONS</p>
			<p>Notes</p>
		</li>
		<li><p>TRANSACTION</p>
			<p>Notes</p>
		</li>
		<li><p>TRANSACTION_LOG</p>
			<p>Notes</p>
		</li>
		<li><p>VCPU</p>
			<p>Notes</p>
		</li>
		<li><p>VCPU_LIMIT_QUOTA</p>
			<p>Notes</p>
		</li>
		<li><p>VCPU_REQUEST</p>
			<p>Notes</p>
		</li>
		<li><p>VCPU_REQUEST_QUOTA</p>
			<p>Notes</p>
		</li>
		<li><p>VMEM</p>
			<p>Notes</p>
		</li>
		<li><p>VMEM_LIMIT_QUOTA</p>
			<p>Notes</p>
		</li>
		<li><p>VMEM_REQUEST</p>
			<p>Notes</p>
		</li>
		<li><p>VMEM_REQUEST_QUOTA</p>
			<p>Notes</p>
		</li>
		<li><p>VSTORAGE</p>
			<p>Notes</p>
		</li>
	</ul>
</body></html>