<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>pending_action</title></head><body><h2 class="genData">pending_action table</h2>
	
	<table><tbody><tr><th><p>Column Name</p></th><th><p>Type</p></th><th><p>Nullable</p></th><th><p>Primary</p></th><th><p>Description</p></th></tr>
		<tr><td><p>recommendation_time</p></td>
			<td><p>timestamp with time zone</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>action_oid</p></td>
			<td><p>bigint</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>type</p></td>
			<td><p>action_type</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td><p>Can be one of:</p>
				{% include genFiles/action_type.html %}</td>
		</tr>
		<tr><td><p>severity</p></td>
			<td><p>severity</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>category</p></td>
			<td><p>action_category</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>target_entity_id</p></td>
			<td><p>bigint</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>involved_entities</p></td>
			<td><p>bigint[]</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>description</p></td>
			<td><p>text</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>savings</p></td>
			<td><p>double precision</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>attrs</p></td>
			<td><p>jsonb</p></td>
			<td><p>true</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
	</tbody></table>
</body></html>