<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>scope</title></head><body><h2 class="genData">scope table</h2>
	
	<table><tbody><tr><th><p>Column Name</p></th><th><p>Type</p></th><th><p>Nullable</p></th><th><p>Primary</p></th><th><p>Description</p></th></tr>
		<tr><td><p>seed_oid</p></td>
			<td><p>bigint</p></td>
			<td><p>false</p></td>
			<td><p>true</p></td>
			<td></td>
		</tr>
		<tr><td><p>scoped_oid</p></td>
			<td><p>bigint</p></td>
			<td><p>false</p></td>
			<td><p>true</p></td>
			<td></td>
		</tr>
		<tr><td><p>scoped_type</p></td>
			<td><p>entity_type</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
		<tr><td><p>start</p></td>
			<td><p>timestamp with time zone</p></td>
			<td><p>false</p></td>
			<td><p>true</p></td>
			<td></td>
		</tr>
		<tr><td><p>finish</p></td>
			<td><p>timestamp with time zone</p></td>
			<td><p>false</p></td>
			<td><p>false</p></td>
			<td></td>
		</tr>
	</tbody></table>
</body></html>